
/*simple selector*/
input{border-style: hidden;font-size: larger; background: transparent; }
body{text-align: center; font-size: x-large;}
logo{color:lightsalmon;font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: static;}
logo:hover{color: lawngreen; font-style: italic;font-weight: bolder;font-size: x-large;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}
#assist{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     color: brown;font-size:medium ;
     border:100%; border-style: inset;
     border-radius: 20px;
     border-width: 4px;
     border-color: brown;}
#assist:hover{border-width: 4px;
        border-color: brown;
        color: seashell;border-style: outset;
        border-color: brown;
        background-color: brown}

/*-----------------------footer note layout----------------------------------*/ 
footer{
    height: 50px; position: relative ; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small; clear: both; margin-top: -50px ;
    background-color: maroon;
    color: mintcream;}

#content{text-align: center; font-size: large;font-style: italic;color: brown}

/*------------------ for logo on every page----------------------------------*/
#logo{text-align: left; font-size: medium;}

/*-----------------------for navigation bar--------------------------------*/
#navbar{float: right;}
#a:hover{background:tan;}

/*------------------------social media links-----------------------------*/
#socialmedia{max-width: width 100%;max-height: 100%;}
img{max-width: 100%; max-height: 10%;}
/*-------------------------! END --------------------------------------------*/




/*----------------------------signin/signup-----------------------------------*/
/*------------this is for container card on signin and signup pages------------*/
#signin_signup{
    grid-area: signin_signup ;
    background-color: seashell;border-color: brown;
    border-style: solid;border-width: 5px;border-radius:20px ;
    margin-top: auto;width:600px;
    margin-left: auto;margin-right: auto; }

/*--------------------for input box(signin/signup)---------------------------*/
#ip{border-style: hidden; font-size: larger;font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; color: maroon}

/*-------------------------! end --------------------------------------------*/




/* id selector */
/*--------------------------for heading-------------------------------------*/
#heading{
    text-align: center;font-size: xx-large ;
    font-style: italic; color: brown;}

#content1{
    text-size-adjust:unset;
    text-align: left; font-size: large;
    font-style: italic; color: brown;
    font-family: Georgia, 'Times New Roman', Times, serif;}


/*------------------------------ ! END ----------------------------------*/        




/* class selector */
/*----------------------------grid layout--------------------------------*/
/*-------------------grid layout on signin signup page-------------------*/ 
.signin_signup-grid{
    background-color: seashell;
    display: grid;
    min-height: fit-content;
    grid-template-areas:'logo'
                        'signin_signup';}

/*------------------------grid layout on index page----------------------*/
.index-grid{
    min-height: 100%;
    background-color: seashell;
    display: grid;
    grid-template-areas:'logo  logo  logo  logo  navbar navbar navbar'
                        'cntnt cntnt cntnt cntnt cntnt  cntnt  cntnt' ;}

/*----------------------for grid layout on home page---------------------*/
.grid-container{
    min-height: 100%;
    background:seashell;
    display: grid;
    grid-template-areas:'logo  logo  logo  logo  navbar navbar navbar'
                        'cntnt cntnt cntnt cntnt form   form   form'
                        'cntnt cntnt cntnt cntnt form   form   form'
                        'cntnt cntnt cntnt cntnt form   form   form'
                        'cntnt cntnt cntnt cntnt askme  askme  askme'
                        ;}
/*--------------------elements of grid layout----------------------------*/                       
.grid-logo{
    align-content:flex-start;
    grid-area: logo;}
.grid-navbar{grid-area: navbar;}
.grid-cntnt{grid-area: cntnt;}
.grid-form{grid-area: form;}
.grid-askme{grid-area: askme; text-align: center;}

/*-----------------for form( join us) grid on home page--------------------*/
#joinus{color: green;}
#join-btn{
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
     color: green;
     border:100%; border-style: solid;
     border-radius: 20px;
     border-width: 3px;
     border-color: brown;}
#join-btn::selection{
        border-width: 5px;
        border-color: brown;
        color: seashell;
        background-color: brown;}
#join-btn:hover{
        border-width: 5px;
        border-color: brown;
        color: seashell;
        background-color: brown;}

/*---------------------- ! END -----------------------------------------*/