<html>
    <head>
        <title>
            corporate connections
        </title>
        <link href="assets\css\main.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="grid-container">
            <div class="grid-logo">
                <h1 id="logo">corporate<br> connections's</h1>
            </div>
            <div class="grid-navbar">
                <table id="navbar">
                    <tr>
                        <!-- 
                        <td id="a"><a href="signin_page.html"><input id="ip" id="LOGIN" type="button" value="SIGN IN"></a></td>
                        <td id="a"><a href="signup_page.html"><input id="ip" type="button" value="SIGN UP"></a></td>
                        -->
                        <td id="a"><a href="about.html"><input id="ip" type="button" value="ABOUT"></a></td>
                        <td id="a"><a href="contact.html"><input id="ip" type="button" value="CONTACT"></a></td>
                    </tr>
                </table>
            </div>
            <div class="grid-cntnt">
                <h1 id="content">we welcome's you to the corporate connections, a platform where anybody can improve and raise their connections in the corporate world.</h1>
            </div>
            <div class="grid-form">
                <h2 id="joinus">Join Us.</h2>
                <a href="signin_page.html"><input id="join-btn" type="button" value="sign in"></a>

                <a href="signup_page.html"><input id="join-btn" type="button" value="sign up"></a>
            </div>
            <div class="grid-askme">
               <a href="askme.html"><input id="assist" type="button" value="any querry!  ask me"></a>
            </div>
        </div>    
         <footer>
            please sign up if you don't have a account , you may login if you have already sign up.
            <div>
                <table >
                    <tr>
                        <td>
                            <a style="color: transparent"; href="instagram.com">
                                <logo>instagram</logo>
                            </a>
                        </td>
                        <td>
                            <a style="color: transparent"; href="facebook.com">
                                <logo>facebook</logo>
                            </a>
                        </td>
                        <td>
                            <a style="color: transparent"; href=" twitter.com">
                                <logo>twitter</logo>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </footer>
    </body>
</html>