<!DOCTYPE html>
<html lang="en" xmlns:here="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>sign-in</title>
    <script type="text/javascript" src="assets\js\main.js"></script>
    <link  rel="stylesheet" type="text/css" 
        
        href="\assets\css\main.css" />
</head>
<body>
<div class="signin_signup-grid">
    <div class="grid-logo">
        <h1 id="logo">corporate<br> connections's</h1>
    </div>
    <div id="signin_signup">
        <h1 id="heading">Member's login page</h1>
        <form name="signin" action="http://www.google.com/search" >
            <p id="content">
                <label>
                    enter your email id here: </label>
                <input id="email" type="text" name="q" placeholder="yourname@letstalk.com">
                <br>
                <label for="password">
                    enter your password here:
                </label>
                <input id="password" type="password" placeholder="password" name="password"><br><br>
                <input id="a" type="submit" value="sign in">
            </p>
        </form>
    </div>
</div>

</body>
</html>
