<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>sign-up</title>
    <script type="text/javascript" src="assets\js\main.js"></script>
    <link href="assets\css\main.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="signin_signup-grid">
        <div class="grid-logo">
            <h1 id="logo">corporate<br> connections's</h1>
        </div>
        <div id="signin_signup">
            <h1 id="heading">Membership sign-up page</h1>
            <form action="assets/xml/members.xml">
                <p id="content">
                    <label for="username">
                        chose your username : </label>
                    <input id="username" type="text" placeholder="username" name="username"><br>
                    <label for="email">
                        enter your email id here: </label>
                    <input id="email" type="text" placeholder="username@letstalk.com" name="email"><br>
                    <label for="password">
                        enter your password here:
                    </label>
                    <input id="password" type="password" placeholder="password" name="password">
                    <br><br>
                    <input id="a" type="submit" onclick="check_input()" value="sign up">
                </p>
            </form>
        </div>
    <div>
</body>

</html>