<html>
    <head><title>index page</title>
        <link href="links/assets/css/main.css" rel="stylesheet" type="text/css">
    </head>
    <body>
            <div class="index-grid">
                <div class="grid-logo">
                    <h1 id="logo">corporate<br> connections's</h1>
                </div>
                <div class="grid-navbar">
                    <table id="navbar">
                        <tr>
                            <td id="a"><a href="links/home.html"><input id="ip" type="button" value="HOME"></a></td>
                            <td id="a"><a href="/sign_in"><input id="ip" id="LOGIN" type="button" value="SIGN IN"></a></td>
                            <td id="a"><a href="links/signup_page.html"><input id="ip" type="button" value="SIGN UP"></a></td>
                            <td id="a"><a href="links/about.html"><input id="ip" type="button" value="ABOUT"></a></td>
                            <td id="a"><a href="links/contact.html"><input id="ip" type="button" value="CONTACT"></a></td>
                        </tr>
                    </table>
                </div>
                <div class="grid-cntnt">
                    <h1 id="heading">welcome to the corporate connection's</h1>
                    <br>
                </div>
            </div>    
        <footer>
            please sign up if you don't have a account , you may login if you have already sign up.
            <div>
                <table>
                    <tr>
                        <td>
                            <a style="color: transparent" ; href="instagram.com">
                                <logo>instagram</logo>
                            </a>
                        </td>
                        <td>
                            <a style="color: transparent" ; href="facebook.com">
                                <logo>facebook</logo>
                            </a>
                        </td>
                        <td>
                            <a style="color: transparent" ; href=" twitter.com">
                                <logo>twitter</logo>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            <!--
            <table id="socialmedia">
                <tr>
                    <td align="right"><a href="https://www.instagram.com/accounts/login/"><img src="links\assets\img_asset\Golden-Instagram-logo-icon-PNG.png"></a></td>
                    <td align="center"><a href="https://www.facebook.com/"><img src="links\assets\img_asset\golden-Facebook-logo-icon-png.png"></a></td>
                    <td align="left"><a href="https://twitter.com/login"><img src="links\assets\img_asset\Golden-Twitter-icon-png.png"></a></td>
                </tr>
            </table>
            -->
        </footer>
    </body>
</html>
